body{
    background-color: black;
    color: white;
}

.movie-app > .row {
    overflow-x: auto;
    flex-wrap: nowrap;
    cursor: grab;
}

.image-itself:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.content{
    margin: 0 auto;
    width: 90%;
}

.content > img{
    width: 100%;
    height: 400px;
}

.content > h1 {
    margin: 20px 0px;
}

.content-info{
    width: 100%;
}

.content p{
    font-family: 'Times New Roman', Times, serif;
}

.right{
    float: right;
}

.small{
    font-size: 12px;
}

.little-header{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}